body{
    background-color: azure;
}
#playerDisplay{
    text-align: center;
    width: 6cm;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
}
#multiplayerButtonAlign{
    text-align: right;
}
#multiplayerButton{
    border-radius: 25px;
    border-color: blue;
    background-color: lightcoral;
    transition: transform 0.5s ease;
}
#multiplayerButton:hover{
    transform: scale(1.15);
    transform-origin: 100% 100%;
}
.scoreImage{
    width: 1cm;
    height: 1cm;
}
.score{
    width: 1cm;
    height: 1cm;
    font-size: xx-large;
    color: black;
    border: none;
    background-color: transparent;
}
#table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
}
.cells{
    border: 3px solid black;
}