body{
    background-color: azure;
}
#playerDisplay{
    text-align: center;
    width: 6cm;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
}
.scoreImage{
    width: 1cm;
    height: 1cm;
}
.score{
    width: 1cm;
    height: 1cm;
    font-size: xx-large;
    color: black;
    border: none;
    background-color: transparent;
}
#table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
}
.cell{
    border: 3px solid black;
}